<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvDW2cilFc2vLqfYmNkDHfbgAuqiXnYsA</string>
	<key>GCM_SENDER_ID</key>
	<string>580462093952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotelGuide.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hotel-guide-ed5ae</string>
	<key>STORAGE_BUCKET</key>
	<string>hotel-guide-ed5ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580462093952:ios:6a1bcda04e44d5b0a66865</string>
</dict>
</plist>